@font-face {
    font-family: "Unifraktur";
    src: url("/imgsAssets/fonts/UnifrakturMaguntia-Book.woff") format('woff');
}

@font-face {
    font-family: "Unifraktur2";
    src: url("/imgsAssets/fonts/UnifrakturCook-Light.woff") format('woff');
}

@font-face {
    font-family: "Libmono";
    src: url("/imgsAssets/fonts/LiberationMono.woff") format('woff');
}

@font-face {
  font-family: "Bamum";
  src: url("/imgsAssets/fonts/bamum.woff") format('woff');
}

h1 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #7e1172;
  font-size: 400%;
  margin: 1%;
}

h2 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #331133;
  margin: 1%;
}

h3 {
  text-align: center;
  font-family: 'Libmono', sans-serif;
  color: #331133;
  font-size: 150%;
  margin: -1%;
}

h4 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #6e116e;
  font-size: 200%;
  margin: -1%;
}

h5 {
  color: #331133;
  font-size: 166%;
  text-align: center;
  font-family: 'Unifraktur2', sans-serif;
  margin: 1%;
}

p, ul {
  font-size: 110%;
  text-align: center;
  font-family: 'Libmono', sans-serif;
  color: #7e1172;
  margin: 1%;
}

p2, ul2 {
  font-size: 333%;
  color: #331133;
  text-align: center;
  font-family: 'Bamum', sans-serif;
  position: relative;
  bottom: 20px;
  margin: 1%;
}

p3, ul3 {
  color: #331133;
  text-align: center;
  font-family: 'Unifraktur2', sans-serif;
  margin: 1%;
  font-size: 150%;
}

a {
  font-family: 'Libmono', sans-serif;
  color: #9360AC;
  background: #331133;
  margin: 1%;
}

a2 {
  font-family: 'Libmono', sans-serif;
  color: black;
  font-size: 120%;
  background: #331133;
  margin: 1%;
}

body {
  background-color: black;
  font-family: 'Libmono', sans-serif;
  text-align: center;
  background-image: url("/imgsAssets/w1r3dBG.jpg");
  background-repeat: auto;
  background-size: 50%;
}

pre {
  font-family: 'Libmono', sans-serif;
  color: #F20587;
  white-space: pre;
  text-align: center;
  font-size: 100%;
  margin: 1%;
}

span2 {
  text-align: center;
  font-family: 'Unifraktur2', cursive;
  color: #7e1172;
  font-size: 100%;
  margin: 1%;
}

div {
  background: black;
  border: 1px solid #9360AC;
  width: 60vw;
  margin-left: auto; 
  margin-right: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow: scroll;
}

hr {
  color: #9360AC;
  border-color: #9360AC;
  margin: 1%;
}

::selection {
  background: #331133; /* WebKit/Blink Browsers */
  color: #9360AC;
}
::-moz-selection {
  background: #331133; /* Gecko Browsers */
  color: #9360AC;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {cursor: url(https://cdn.discordapp.com/attachments/924601621659410442/1020541129101410304/cursor1.cur), auto !important;}

