@font-face {
    font-family: "Libmono";
    src: url("/imgsAssets/fonts/LiberationMono.woff") format('woff');
}

@font-face {
  font-family: "Bamum";
  src: url("/imgsAssets/fonts/bamum.woff") format('woff');
}

body {
  background-color: black;  
  background-image: url("");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  color: #b90065;
  font-family: 'Libmono', monospace;
  font-size: 100%;
}

a {
  color: #f20587;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

pre {
  font-family: 'Libmono', monospace;
  font-size: 100%;
}

hr {
  border: 0px;
  height: 1px;
  background-color: #f20587;
  border-color: #f20587;
}

::selection {
  background: #F20587; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #F20587; /* Gecko Browsers */
  color: black;
}

* {
  cursor: url(https://cdn.discordapp.com/attachments/924601621659410442/1020541129101410304/cursor1.cur), auto !important;
  }