@font-face {
    font-family: "Unifraktur";
    src: url("/imgsAssets/fonts/UnifrakturMaguntia-Book.woff") format('woff');
}

@font-face {
    font-family: "Unifraktur2";
    src: url("/imgsAssets/fonts/UnifrakturCook-Light.woff") format('woff');
}

@font-face {
    font-family: "Libmono";
    src: url("/imgsAssets/fonts/LiberationMono.woff") format('woff');
}

@font-face {
  font-family: "Bamum";
  src: url("/imgsAssets/fonts/bamum.woff") format('woff');
}

h1 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #F20587;
  font-size: 400%;
  margin: 1%;
}

h2 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #F20587;
  margin: 1%;
}

h3 {
  text-align: center;
  font-family: 'Libmono', sans-serif;
  color: #7E1172;
  font-size: 150%;
  margin: -1%;
}

h4 {
  text-align: center;
  font-family: 'Unifraktur', cursive;
  color: #F20587;
  font-size: 200%;
  margin: -1%;
}

p, ul {
  font-size: 110%;
  text-align:center;
  font-family: 'Libmono', sans-serif;
  color: #b90065;
  margin: 1%;
}

p2, ul2 {
  font-size: 333%;
  color: #7E1172;
  text-align:center;
  font-family: 'Bamum', sans-serif;
  position: relative;
  bottom: 20px;
  margin: 1%;
}

p3, ul3 {
  font-size: 150%;
  color: #7E1172;
  text-align:center;
  font-family: 'Unifraktur2', sans-serif;
  margin: 1%;
}

a {
  font-family: 'Libmono', sans-serif;
  color: black;
  background: #F20587;
  margin: 1%;
}

a2 {
  font-family: 'Libmono', sans-serif;
  color: black;
  font-size: 120%;
  background: #F20587;
  margin: 1%;
}

body {
  background-color: black;
  font-family: 'Libmono', sans-serif;
  text-align:center;
  background-image: url("/imgsAssets/background2alt2.gif"), url("/imgsAssets/background2-flipalt2.gif");
  background-position: left top, right top;
  background-repeat: repeat-y;
  background-size: 20%;
  margin: 1%;
}

pre {
  font-family: 'Libmono', sans-serif;
  color: #F20587;
  white-space: pre;
  text-align:center;
  font-size: 100%;
  margin: 1%;
}

span2 {
  text-align: center;
  font-family: 'Unifraktur2', cursive;
  color: #F20587;
  font-size: 100%;
  margin: 1%;
}

div {
  background: #000000;
  border: 5px solid #F20587;
  width: 50vw;
  margin: auto;
  margin-bottom: 20px;
  overflow: break-word;
}

hr {
  color: #F20587;
  border-color: #F20587;
  margin: 1%;
}

::selection {
  background: #F20587; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #F20587; /* Gecko Browsers */
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  cursor: url(https://cdn.discordapp.com/attachments/924601621659410442/1020541129101410304/cursor1.cur), auto !important;
  }